<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3><a href="/logout">Logout</a></h3>
  <h1>Hello <%=data.name%></h1>
  <h2>Your Profile</h2>
  <p>age: <%=data.Profile.age%></p>
  <p>gender: <%=data.Profile.gender%></p>
  <p>phone: <%=data.Profile.phone%></p>
  <p>userCode: <%=data.Profile.userCode%></p>
  <form action="/buyers/<%=data.id%>">
    <input type="text" id="lname" name="search">
    <input type="submit" value="Search">
  </form>
  <div>
    <h3>You have bought this product:</h3>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
      <%buyProduct.forEach(el => {%>
        <tr>
          <td><img src="<%=el.imageURL%>" alt="Girl in a jacket" style="width:100px;height:120px;"></td>
          <td><%=el.name%></td>
          <td style="width:500px;"><%=el.description%></td>
          <td><%=price(el.price)%></td>
          <td><%=el.Category.name%></td>
          <td><a href="/buyers/<%=data.id%>/products/<%=el.id%>/delete"><button>Delete</button></a></td>
        </tr>
      <%})%>
    </table>
  </div><br>
  <div>
    <h3>You can buy this products:</h3>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
      <%notBuy.forEach(el => {%>
        <tr>
          <td><img src="<%=el.imageURL%>" alt="Girl in a jacket" style="width:100px;height:120px;"></td>
          <td><%=el.name%></td>
          <td style="width:500px;"><%=el.description%></td>
          <td><%=price(el.price)%></td>
          <td><%=el.Category.name%></td>
          <%if(confirm == el.id) {%>
            <td>Check your e-mail</td>
          <%} else {%>
            <td><a href="/buyers/<%=data.id%>/products/<%=el.id%>/buy"><button>Buy</button></a></td>
          <%}%>
        </tr>
      <%})%>
    </table>
  </div>
</body>
</html>